<!-- <body>
        <div class="navi" routerLink="/pagenotfound"> Page not Found</div>
        <b>Please Login To Continue</b>
        
       <Form>
                <button> <b> Sign In</b></button>
                <button class="bb"> <b> Sign Up</b></button>
                <input type="text" placeholder="Username or email">
                <input type="text" placeholder="Password">
                <input class="cc" type="checkbox">
               <p> Remember me </p><p>Forget Password</p> 
                <button class="bat">Sign In</button>
                <button class="cat"> Google</button>
               <button class="cata"> Facebook </button>
               <button class="catb"> Linkedin</button>
               <button class="catc"> Github</button>

               <p>Why Create an Account?</p>
               
               <small>By creating this account,you agree to our Privacy Policy & Cookie Policy</small>
       </Form>
       <div>
       
</div>
    </body> -->

    <div class="Parent">
        <div class="child">
                <form [formGroup] = "loginForm">
                        <label> Email </label>
                        <input type="text" formControlName="email"> 
                        <br>

                        <label> Password </label>
                        <input type="text" formControlName="email"> 
                        <br>

                        
                        <button (click)="login()" class="btn-primary">Login<button></button></button>
                </form>
        </div>
    </div>