<p>task works!</p>
<div class="navi" routerLink="/dashboard"> Dashboard</div>
<!-- <img src="/assets/org img.jpeg"> -->
<h1 style="text-align: center;">Angular 2 Architecture</h1>
<div class="body">
   
            
             <div class="left">

              <!-- <div class="l1"><h1><img *ngIf="image=='abc'" src="/assets/service.png"></h1> </div>
              <div class="l2"><h1><img *ngIf="image=='abc'" src="/assets/databinding1.png"></h1></div>
              <div class="l3"><h1><img *ngIf="image=='abc'" src="/assets/directive.png"></h1></div>
              <div class="l4"><h1><img *ngIf="image=='abc'" src="/assets/databinding.png"></h1></div> -->
              <div class="l1"><h1><img src="/assets/service.png"></h1> </div>
            </div> 

            <div class="center">
                <div class="c1">
                   <!-- <img *ngIf="image=='A'" src="/assets/A.png"> </div> -->
                   <!-- <img src="/assets/A.png">  -->
                   <button [(ngModel)]="image" (click)="abc()"><img src="/assets/A.png"></button>
                </div>
                   <!-- <input class="radio" type="radio" name="abc" value="abc" [(ngModel)]="image"> -->
                   <!-- <input type="radio" name="A" value="A" [(ngModel)]="image"> -->
            </div>

             <div class="right">
                <!-- <div class="r1"><h1><img *ngIf="image=='abc'" src="/assets/module.png"></h1></div>
                <div class="r2"><h1><img *ngIf="image=='abc'"src="/assets/component.png"></h1></div>
                <div class="r3"><h1><img *ngIf="image=='abc'"src="/assets/template.png"></h1></div>
                <div class="r4"><h1><img *ngIf="image=='abc'"src="/assets/metadata.png"></h1></div> -->
            </div>
            
</div>



