<div class="navi" routerLink="/login"> Login </div>
<div class="parent">
    <div class="left">
        <h2 routerLink="event-binding">Event-binding</h2>
        <h2 routerLink="interpolation">Interpolation </h2>
        <h2 routerLink="two-way-binding">Two-way-binding</h2>
         <h2 routerLink="calculator">Calculator</h2>
         <h2 routerLink="rectangle">Rectangle</h2>
         <h2 routerLink="square">Square</h2>
         <h2 routerLink="power">Power</h2>
         <h2 routerLink="eventregistration">Event Registration</h2>
         <h2 routerLink="employeeregistration">Employee Registration</h2>
         <h2 routerLink="cart"> Cart </h2>
         <h2 routerLink="pipes"> pipes </h2>
         <h2 routerLink="cars"> cars </h2>
         <h2 routerLink="star"> star</h2>
         <h2 routerLink="gpay"> Gpay </h2>
         <h2 routerLink="bank"> Bank </h2>

        </div>
    <div class="right">
        <!-- <img src="img.jpg"> -->
        <router-outlet></router-outlet>
    </div>

</div>

